/* 
    Document   : stockmart
    Created on : Feb 5, 2009, 11:41:06 AM
    Author     : Ebonie Williams
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


body
{
font-family:serif;
}

#content
{
width:100%;
}

#header
{
background-color:#4169E1;
padding:.5%;
}

#footer
{
padding:3px;
background-color:#4169E1;
clear:both;
}

table.login
{
margin-left:35%;
width:30%;
}


table.full
{
width:100%;
}

table
{
background-color:#4169E1;/*royal blue*/
padding:3px;
border-collapse:collapse;
border:0;
empty-cells:show;
}

p.center
{
text-align:center;
}

p.banner
{
text-align:center;
font-size: xx-large;
font-weight: bold;
}


a:link
{
color: black;
}

td
{
text-align:center;
}

